:root {
	--primary:          #581A00;
	--primary-alt:      #FA9634;
	--primary-alt-off:  #FFFBF6;
	--secondary:        #FFE0A7;
	--secondary-alt:    #BCAB79;
}

html {
	font-family: Roboto, sans-serif;
	color: var(--primary);
}

body {
	margin: 0;
}

.body {
	padding-top: 84px;
}
