:root {
	--primary:        #581A00;
	--primary-alt:    #FF986B;
	--secondary:      #EED099;
	--secondary-alt:  #BCAB79;
}

html {
	font-family: Roboto, sans-serif;
	color: var(--primary);
}

body {
	margin: 0;
}
